includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/bootstrap.php
    tmpDir: 'var/phpstan/tmp'
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - identifier: missingType.iterableValue
